<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ru.djonny.time"
    versionCode = "10"
    version     = "1.2.0">

<name>ТЕСТ. Project TIME</name>

<description>
    Project TIME by Djonny
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name='android-minSdkVersion' value='16' />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#007BFF" />


<platform name="android">
    <icon src="res/android/icon/0a1e1742c3d2157b1440ef3c7c8d2d32.png" density="ldpi" />
    <icon src="res/android/icon/fcf5e5f12b70d0e8e74e3975fef17299.png" density="mdpi" />
    <icon src="res/android/icon/9099590c967dd866ddba05c13a163130.png" density="hdpi" />
    <icon src="res/android/icon/cf0743fb02a3fc679afa37cb189218bb.png" density="xhdpi" />
    <icon src="res/android/icon/ae92efa72d8cab52f1b6843641e33d64.png" density="xxhdpi" />
    <icon src="res/android/icon/6641d9a927ac240c7c05c89b2bd2041f.png" density="xxxhdpi" />

    <splash src="res/android/screen/40e9e511a5ca3a575beb977537952f4a.png" density="port-hdpi"/>
    <splash src="res/android/screen/db9d4544dbba73253cb57cf6506f0275.png" density="port-ldpi"/>
    <splash src="res/android/screen/da8fd723c2417be0144eaafaf545cb7a.png" density="port-mdpi"/>
    <splash src="res/android/screen/5928f181cf21d970981132d03f72b2ae.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/c09d192656e5d96f9eb87ab126cc7a53.png" width="180" height="180" />
	<icon src="res/ios/icon/d1befe0e40de9773f440bf76ff8709d6.png" width="60" height="60" />
	<icon src="res/ios/icon/4ec733ddeedcc5a5c75c734a55f29574.png" width="120" height="120" />
	<icon src="res/ios/icon/aaa63b7565edc7346733debe2a8d77b9.png" width="76" height="76" />
	<icon src="res/ios/icon/e86489df34fd761f48f1eda1ecf4f156.png" width="152" height="152" />
	<icon src="res/ios/icon/ce4e36ef738e84f1f18545c010e914f9.png" width="57" height="57" />
	<icon src="res/ios/icon/b356d7849f6e88761f394091760dc2d6.png" width="114" height="114" />
	<icon src="res/ios/icon/6b0c539d2f4683f9625eb71433bfa9c2.png" width="72" height="72" />
	<icon src="res/ios/icon/d5cc616f012813735341e216d69c811a.png" width="144" height="144" />
	<icon src="res/ios/icon/c7234bf146dd5fa31f1e3d7961f7fd0b.png" width="167" height="167" />
	<icon src="res/ios/icon/694011ad416ce794dd4c95c082af8bc1.png" width="29" height="29" />
	<icon src="res/ios/icon/6e8c0ba91c258ea08b10127ba499e9bc.png" width="58" height="58" />
	<icon src="res/ios/icon/d3f9afbf11f9d8b76a4a2adf49214369.png" width="87" height="87" />
	<icon src="res/ios/icon/ceeeea05bb066ad1ff8f97dde450c6d9.png" width="167" height="167" />

	<splash src="res/ios/screen/abd9296c738034aaeb8e6139a1fe369a.png" />
    <splash src="res/ios/screen/aa47af3d80a617be52de9907827f8c0a.png" />
    <splash src="res/ios/screen/fe2e3f5b7bb11a4748c5fd0778adf128.png" />
    <splash src="res/ios/screen/161d1d997c419185fbcb16903cae39f1.png" />
    <splash src="res/ios/screen/5bbed3a02923d897bfa96796d7a785d9.png" />
    <splash src="res/ios/screen/b91844cb9317fc90ce42343245bd4682.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/a53a0377db938f17acb8dda9208bf163.png" target="StoreLogo" />
    <icon src="res/windows/icon/875f40d083e28dac5ab5a3288e8c7804.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/03969a9307b3b048e4fc695387839a90.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/eef5be4a8b03129360eeacbfde3f2ac9.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/e524a71a9cbc0a4db77c6085f303dce6.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/70f415cd40fb19032714f79b9ff2ec32.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/19adb0018633530184b22f97c3fad542.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/8dc3a84d4775198fbd9b052fe147f4cd.png" target="SplashScreen"/>
    <splash src="res/windows/screen/c84f42bff122b28508fe67e1ad1c11ad.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>